<div class="container-fluid">
<p id="last_minor_id"><%= "Last Minor type id: #{if MinorType.first; get_last_minor_by_major(MajorType.first).type_id; else; ""; end;}" %></p>
<%= form_for @minor_type, html: {role: "form"} do |f| %>
  <div class="form-group">
    <div class="dropdown">
      <%= f.label :major_type_id %></br>
      <%= f.select :major_type_id, options_for_select(@major_arr,@minor_type.major_type_id), {}, { :class => 'btn btn-default dropdown-toggle', :data => {:remote => true, :url => 'get_last_minor_type', :method => 'post'}} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :type_id %>
    <%= f.text_field :type_id, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :type_description %>
    <%= f.text_field :type_description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit :submit, :class => "btn btn-success" %>
  </div>
<% end %>
</div>