<div class="container-fluid">
<%= form_for @comment, html: {role: "form"} do |f| %>
  <div class="form-group">
    <%= f.label :guest_name %>
    <%= f.text_field :guest_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rate %>
    <%= f.text_field :rate, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit :submit, :class => "btn btn-success" %>
  </div>
<% end %>
</div>