<div class="container-fluid">
<%= form_for @store, html: {role: "form"} do |f| %>
<p id="last_store_id"><%= "last store id: #{get_last_store_id_by_major_and_minor(MajorType.first, get_first_minor_by_major(MajorType.first))}" %></p>
<table class="table">
  <tr>
    <th><%= f.label :major_type_id %></th>
    <th><%= f.label :minor_type_id %></th>
  <tr>
  <tr>
    <td>
      <% if @type == "new" %>
        <%= f.select :major_type_id, options_from_collection_for_select(MajorType.all,:id, :type_description, @store.major_type_id), {}, { :class => 'btn btn-default dropdown-toggle', :data => {:remote => true, :url => 'get_minor_types', :method => 'post'}} %>
      <% else %>
        <%= f.select :major_type_id, options_from_collection_for_select([MajorType.find(@store.major_type_id)],:id, :type_description, @store.major_type_id), {}, { :class => 'btn btn-default dropdown-toggle', :data => {:remote => true, :url => 'get_minor_types', :method => 'post'}} %>      
      <% end %>
    </td>
    <td>
      <% if @type == "new" %>
        <%= f.select :minor_type_id, options_from_collection_for_select(MinorType.where('major_type_id' => MajorType.first.id),:id,:type_description,@store.minor_type_id), {},{ :class => 'btn btn-default dropdown-toggle', :data => {:remote => true, :url => 'change_minor_type', :method => 'post'}} %>
      <% else %>
        <%= f.select :minor_type_id, options_from_collection_for_select(MinorType.where('major_type_id' => @store.major_type_id),:id,:type_description,@store.minor_type_id), {},{ :class => 'btn btn-default dropdown-toggle', :data => {:remote => true, :url => 'change_minor_type', :method => 'post'}} %>
      <% end %>
    </td>
  </tr>
</table>

<% if false %>
  <div class="form-group">
    <%= f.label :major_type_id %>
    <div class="dropdown">      
      <%= f.select :major_type_id, options_from_collection_for_select(MajorType.all,:id, :type_description, @store.major_type_id), {}, { :class => 'btn btn-default dropdown-toggle', :data => {:remote => true, :url => 'get_minor_types'}} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :minor_type_id %>
    <div class="dropdown" >
      <%= f.select :minor_type_id, options_from_collection_for_select(MinorType.where('major_type_id' => MajorType.first.id),:id,:type_description,@store.minor_type_id), {},{ :class => 'btn btn-default dropdown-toggle'} %>
    </div>
  </div>
<% end %>  

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, :class => "form-control" %>
  </div>  
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, :class => "form-control" %>
  </div>  
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit :submit, :class => "btn btn-success" %>
  </div>
<% end %>
</div>