<div class="panel-heading"><h3><%= "#{get_store_name(@store_id)} Detail" %></h3></div>
<div class="container-fluid">
  <table class="table table-condensed table-hover">
    <tr>
      <th>Total Rates Count</th>
      <% if @detail %>
        <td><%= get_total_rates_count(@detail.store_id) %></td>
      <% end %>
    </tr>
    <tr>
      <th>Average rate</th>
      <% if @detail %>
        <td><%= get_average_rate(@detail.store_id) %></td>
      <% end %>
    </tr>
    <tr>
      <th>Image URL 1</th>
      <% if @detail %>
        <td><%= @detail.image_url_1 %></td>
      <% end %>
    </tr>
    <tr>
      <th>Image URL 2</th>
      <% if @detail %>
        <td><%= @detail.image_url_2 %></td>
      <% end %>
    </tr>
    <tr>
      <th>Image URL 3</th>
      <% if @detail %>
        <td><%= @detail.image_url_3 %></td>
      <% end %>
    </tr>
  </table>  
</div>
<div class="panel-footer">
  <% if @detail %>
    <%= link_to "Show", @detail, :class => "btn btn-primary" %> 
    <%= link_to "Edit", edit_detail_path(@detail), :class => "btn btn-warning" %> 
    <%= link_to "Destroy", @detail, :class => "btn btn-danger", :confirm => 'Are you sure?', :method => :delete %>
  <% else %>
	 <%= link_to "Add", {:controller => "details", :action => "new", :store_id => @store_id}, :class => "btn btn-link" %>
  <% end %>
  <%= link_to "Back",
              {:controller => "stores",
              :action => "index"},
              :class => "btn btn-link" %>
</div>